<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.utiltool2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!--传感器-->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.utiltool2.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWelcome"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.utiltool2.ui.recyclerview.RecyclerViewActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name="com.example.utiltool2.ui.notification.NotificationActivity" />
        <activity android:name="com.example.utiltool2.ui.cardview.CardViewActivity" />
        <activity android:name="com.example.utiltool2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.utiltool2.BaseActivity">

        </activity>
        <activity android:name="com.example.utiltool2.ui.ScreenActivity" />
        <activity android:name="com.example.utiltool2.ui.slideview.ViewSlideActivity" />
        <activity android:name="com.example.utiltool2.glide.GlideActivity" />
        <activity android:name="com.example.utiltool2.ui.TreeViewActivity" />
        <activity android:name="com.example.utiltool2.adapter.RecyclerAdapterActivity" />
        <activity android:name="com.example.utiltool2.ipc.client.ClientActivity" />
        <activity
            android:name="com.example.utiltool2.exam.ExamSystem"
            android:theme="@style/AppThemeNoActionbar">

        </activity>
        <activity
            android:name="com.example.utiltool2.examination.TabLayoutActivity"
            android:theme="@style/Theme.imgFullScreen" />
        <activity
            android:name="com.example.utiltool2.signature.SignatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionbar" />

        <activity android:name="com.example.utiltool2.signature.PenActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.example.utiltool2.aspect.PermissionAspectActivity"
            android:theme="@style/translucent" />

        <service android:name="com.example.utiltool2.ipc.server.RemoteService" />

    </application>

</manifest>