<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.utiltool2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读日历 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" /> <!-- 传感器 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWelcome"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".annotations.AnnotationActivity"></activity>
        <activity android:name=".ui.ScrollTable.recyclerview.ScrolltableActivity" />
        <activity
            android:name=".ui.recyclerview.RecyclerViewActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.cardview.CardViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".ui.ScreenActivity" />
        <activity android:name=".ui.slideview.ViewSlideActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".ui.TreeViewActivity" />
        <activity android:name=".ipc.client.ClientActivity" />
        <activity
            android:name=".exam.ExamSystem"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".examination.TabLayoutActivity"
            android:theme="@style/Theme.imgFullScreen" />
        <activity
            android:name=".signature.SignatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionbar" />
        <activity android:name=".signature.PenActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".aspect.PermissionAspectActivity"
            android:theme="@style/translucent" />
        <activity android:name=".nfc.NfcActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".decorator.DecoratorActivity" />
        <activity android:name=".ui.WeChatNavigation.WeChatBottomNavigationActivity" />
        <activity android:name=".ui.huawei_loading.LoadingActivity" />
        <activity android:name=".adapter.BaseAdapterActivity" />
        <activity android:name=".ui.ScrollTable.listview.ScrollTableActivity" />
        <activity android:name=".adapter.RViewAdapterActivity" />
        <activity android:name=".ui.ImageLoad.ImageLoadActivity" />

        <service android:name=".ipc.server.RemoteService" />

        <receiver
            android:name=".util.NetworkChangeListenHelper$NetworkChangeBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>